@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --bodybg: #f6f7f8;
  --bodycolor: #333333;
  --textcolor: #101115;
  --themecolor: #ee7006;

  --opensans: 'Open Sans', sans-serif;
}

// Variables for SCSS
$bodybg: var(--bodybg);
$bodytext: var(--bodycolor);
$blackcolor: var(--black);
$whitecolor: var(--white);
$themefont: var(--opensans);
$primarycolor: var(--themecolor);
$primarytext: var(--textcolor);

// Mixin for background and text color
@mixin bg-and-color($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

%flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexcentercol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Resetting styles for elements
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  @include bg-and-color($primarytext, $primarycolor);
}

html {
  font-size: 100%;
}

// Styles for body
body {
  @include bg-and-color($bodybg, $bodytext);
  font-family: $themefont;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
section,
article,
table,
img,
hgroup {
  margin: 0;
}

// Heading styles
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notfoundthumb {
  width: 18.75rem;
  height: 18.75rem;
  @extend %flexcenter;
  overflow: hidden;
}

.from-control:focus,
.from-select:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  font-size: 0.875rem;
  padding-block: 0.75rem;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-section {
  margin-top: 4rem;
  min-height: 100vh;
}

header {
  height: 4rem;
}

.header-fixed {
  background: $whitecolor;
}

.headernav {
  height: 100%;
  display: flex;
  align-items: center;
}

.desktopmenu {
  display: flex;
  align-items: center;
  gap: 1rem;

  &-link {
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.btn-hamburger {
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-side-detail .csd-content .sidebar-social .ss-content ul li a.rss,
.app-section .section-header .lab-btn:hover,
.register-section .section-wrapper .register-form .lab-btn,
.clients-section.style-3 .section-wrapper .clients-slider-nav:hover,
.clients-section.style-3
  .section-wrapper
  .client-item
  .client-inner
  .client-thumb
  .quote,
.feature-section.style-3 .section-wrapper .feature-register,
.feature-section.style-3
  .section-wrapper
  .feature-item
  .feature-inner
  .feature-content
  .lab-btn-text
  span::after,
.feature-section.style-3
  .section-wrapper
  .feature-item
  .feature-inner
  .feature-content
  .lab-btn-text
  span::before,
.feature-section.style-3
  .section-wrapper
  .feature-item
  .feature-inner
  .feature-content
  .lab-btn-text
  span,
.feature-section.style-2
  .section-wrapper
  .feature-item
  .feature-inner:hover
  .feature-icon,
.newsletters-section.style-2
  .newsletter-area
  .section-wrapper
  .newsletter-form
  button,
.event-section.style-2 .section-wrapper .event-navi-item:hover,
.event-section.style-2 .section-wrapper .event-navi-item.active,
.instructor-section.style-3
  .section-wrapper
  .instructor-bottom
  .instructor-slider
  .instructor-navi.active,
.instructor-section.style-3
  .section-wrapper
  .instructor-bottom
  .instructor-slider
  .instructor-navi:hover,
.instructor-section.style-2
  .section-wrapper
  .count-item:nth-child(3n + 3)
  .count-inner
  .count-icon
  i,
.instructor-section.style-2::after,
.offer-section .section-wrapper .lab-btn,
.contact-info-section .section-wrapper .cinfo-or,
.about-section.style-4
  .about-item
  .counter-part
  .count-item:nth-child(3n + 3)
  .count-inner
  .count-icon
  i,
.course-section.style-4,
.course-section.style-3 .section-header .course-filter-group ul li.active,
.course-section.style-3 .section-header .course-filter-group ul li:hover,
.category-section.style-4 .section-wrapper .lab-btn:hover,
.category-section.style-4
  .section-wrapper
  .category-item
  .category-inner
  .category-content
  .cate-icon,
.banner-section.style-7
  .section-wrapper
  .banner-top
  .banner-content
  .lab-btn:hover,
.header-section.style-7 .header-bottom .header-wrapper .menu-area .signup,
.header-section.style-5 .header-bottom .lab-btn,
.header-section.style-5 .header-bottom .menu > ul > li ul li a:hover,
.header-section.style-5 .header-bottom .menu > ul > li ul li a.active,
.header-section.style-4 .lab-btn,
.header-section.style-4 .menu > ul li ul li a:hover,
.header-section.style-4 .menu > ul li ul li a.active,
.event-item.style-2 .event-inner .event-content .lab-btn,
.event-item.style-2 .event-inner .event-content h5,
.scrollToTop.yellow-color i,
.yellow-color-section
  .post-item.style-3
  .post-inner
  .post-content
  .lab-btn:hover,
.yellow-color-section
  .section-wrapper
  .course-item.style-3
  .course-inner
  .course-content
  .lab-btn,
.yellow-color-section
  .section-wrapper
  .course-item.style-3
  .course-inner
  .course-thumb
  ul
  li
  .price,
.yellow-color-section .section-header .course-navi,
.course-item.style-4 .course-inner .course-thumb .course-category {
  background: $primarycolor;
}

.choose-section .section-header ul li i,
.register-section .section-header .subtitle,
.feature-section.style-3
  .section-wrapper
  .feature-item
  .feature-inner
  .feature-content
  .lab-btn-text:hover,
.feature-section.style-2
  .section-wrapper
  .feature-item
  .feature-inner
  .feature-icon,
.feature-section.style-2
  .section-wrapper
  .feature-item
  .feature-inner:hover
  .feature-content
  h5,
.instructor-section.style-3
  .section-wrapper
  .instructor-bottom
  .instructor-item:hover
  .instructor-inner
  .instructor-content
  h5,
.offer-section .section-wrapper .date li .count-title,
.offer-section .section-wrapper .title span,
.contact-info-section
  .section-wrapper
  .cinfo-item
  .cinfo-inner
  .cinfo-content
  h6,
.contact-info-section .section-header .title span,
.video-section .section-wrapper .video-thumb a i,
.category-section.style-4
  .section-wrapper
  .category-item
  .category-inner:hover
  .category-content
  h6,
.category-section.style-4 .section-header .subtitle,
.banner-section.style-6 .section-wrapper .banner-content .subtitle,
.banner-section.style-4 .banner-content ul li i,
.banner-section.style-4 .banner-content h2 span,
.header-section.style-7 .header-bottom .header-wrapper .menu-area .login,
.header-section.style-5 .header-bottom .menu > ul > li.active > a,
.instructor-item.style-2 .instructor-inner .instructor-content .ins-info li i,
.instructor-item.style-2:hover .instructor-inner .instructor-content h4,
.course-item.style-5 .course-inner .course-content .course-footer .ratting,
.course-item.style-5 .course-inner:hover .course-content h5,
.course-item.style-4
  .course-inner
  .course-content
  .course-footer
  .ca-name:hover,
.course-item.style-4 .course-inner .course-content .course-footer .course-price,
.course-item.style-4 .course-inner:hover .course-content h5,
.yellow-color-section
  .post-item.style-3
  .post-inner
  .post-content
  .meta-post
  ul
  li
  i,
.yellow-color-section .post-item.style-3 .post-inner:hover .post-content h4,
.yellow-color-section.style-2
  .footer-bottom
  .section-wrapper
  .footer-bottom-list
  a:hover,
.yellow-color-section.style-2 .footer-bottom .section-wrapper p a:hover,
.yellow-color-section.style-2
  .footer-top
  .footer-item.twitter-post
  .footer-inner
  .footer-content
  .content
  ul
  li
  a,
.yellow-color-section.style-2
  .footer-top
  .footer-item.our-address
  .footer-inner
  .footer-content
  .content
  .office-address
  li
  i,
.yellow-color-section
  .section-wrapper
  .course-item.style-3
  .course-inner
  .course-content
  .course-details
  .couse-count
  i,
.yellow-color-section
  .section-wrapper
  .course-item.style-3
  .course-inner
  .course-content
  .course-details
  .couse-topic
  i,
.yellow-color-section
  .section-wrapper
  .course-item.style-3
  .course-inner
  .course-thumb
  ul
  li
  .ratting,
.yellow-color-section
  .section-wrapper
  .course-item.style-3
  .course-inner:hover
  .course-content
  h4,
.lab-btn-text.yellow-color:hover,
.lab-btn-text.yellow-color i,
.yellow-color,
.section-header .subtitle.yellow-color {
  color: $primarycolor;
}

.header-section.style-4 .lab-btn:hover {
  color: $whitecolor;
  box-shadow: 0 0.3125rem 0.625rem rgba(238, 112, 6, 0.5);
}

.lab-btn:hover span {
  color: $whitecolor;
}

.banner-section.style-4 .banner-content h2 span {
  color: $primarycolor;
}

.cate-icon .icofont-duotone {
  font-size: 1.25rem;
}

.cate-icon .icofont-duotone::before {
  position: static;
}

.cate-icon .icofont-duotone::after {
  content: '';
}

.category-section.style-4 .section-wrapper .lab-btn {
  border-color: $primarycolor;
}

.category-section.style-4 .section-wrapper .lab-btn:hover {
  box-shadow: 0 0.3125rem 0.625rem rgba(238, 112, 6, 0.5);
}

.scroll-to-top {
  @extend %flexcenter;
  background: $primarycolor;
  padding: 0.625rem;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 100;
}

.scroll-to-top:hover {
  box-shadow: 0 0.3125rem 0.625rem rgba(238, 112, 6, 0.5);
}

.category-thumb {
  min-height: 14.6875rem;
  max-height: 14.6875rem;
  overflow: hidden;
}

.category-thumb img {
  transition: transform 400ms ease-in-out;
}

.category-item {
  transition: all 400ms ease-in-out;
}

.category-item:hover .category-thumb img {
  transform: scale(1.09);
}

.course-section.style-3 .section-header .course-filter-group ul li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section-header,
.course-item {
  position: relative;
  z-index: 50;
}

.title strong span {
  color: $primarycolor;
}

.clients-section.style-2 .section-wrapper .clients .client-list .client-content {
  border-color: $primarycolor;
}

.count-item .count-inner .count-icon i::before {
  position: static;
}

.count-item:last-child .count-inner .count-icon i::after {
  content: '';
}

.icofont-duotone.icofont-notification::before {
  content: '\efac';
}

.app-section .section-header .lab-btn {
  border-color: $primarycolor;
}

.app-section .section-header .lab-btn:hover {
  box-shadow: 0 0.3125rem 0.625rem rgba(238, 112, 6, 0.5);
}

.footer-top .footer-item.our-address .footer-inner .footer-content .content ul li i::before {
  position: static;
}

footer.style-2 .footer-top .footer-item .footer-inner .footer-content .content ul li a:hover {
  color: $primarycolor !important;
}

.text-warning {
  color: $primarycolor !important;
}

.bg-warning {
  background: $primarycolor !important;
}

.widget-search .pro-thumb {
  width: 4rem;
  height: 4rem;
}

.widget-search .product-content {
  width: calc(100% - 5rem);
}

.searchresult {
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 62rem) {
  header {
    height: 5rem;
  }

  .banner-section.style-4 {
    padding-top: 13.4375rem;
    padding-bottom: 13.4375rem;
  }
}
